{% extends "base.html.twig" %}

{% block title %}
	Projets
{% endblock %}

{% block headerTitle %}
	{{ project.name }}
{% endblock %}

{% block activeProjet %}
	active
{% endblock %}

{% block stylesheets %}../
{% endblock %}

{% block srcImg %}../
{% endblock %}

{% block body %}

	<div id="tasks-container">
		{% for key, task in taskPerStatus %}
			<div class="task-column">
				<h2>{{ key }}</h2>
				<div class="tasks-list">
					{% for i in 0..task|length - 1 %}
						<a class="task" href="tache.html">
							<h3>{{ task[i].title }}</h3>
							<p>{{ task[i].description }}</p>
							<div class="task-infos">
								<div class="task-deadline">
									<i class="fa-regular fa-calendar"></i>
									{{ task[i].deadline }}
								</div>
							</div>
						</a>
					{% endfor %}

					<a href="tache-add.html" class="task-add">
						+ Ajouter une tâche
					</a>
				</div>
			</div>
		{% endfor %}

	</div>

{% endblock %}
